/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-500: hsl(356, 100%, 66%);
  --red-400: hsl(355, 100%, 74%);
  --blue-900: hsl(208, 49%, 24%);
  /* # NEUTRAL # */
  --white: hsl(0, 100%, 100%);
  --gray-600: hsl(207, 13%, 34%);
  --gray-900: hsl(240, 10%, 16%);
  /* # GRADIENT (INTRO/CTA) # */
  --orange-300: hsl(13, 100%, 72%);
  --red-550: hsl(353, 100%, 62%);
  /* # GRADIENT (BODY) # */
  --purple-950: hsl(237, 17%, 21%);
  --purple-900: hsl(237, 23%, 31%);

  /* # TYPOGRAPHY # */
  --ff-overpass: "Overpass", sans-serif;
  --ff-Ubuntu: "Ubuntu", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

header nav ul,
footer ul {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* ### UTILITY CLASSES ### */

.btn {
  background: var(--btn-bg);
  color: var(--btn-color);
  padding: 1rem 1.5rem;
  border-radius: 200px;
}

.hide {
  display: none;
}
/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-Ubuntu);
  font-weight: var(--fw-400);
}

h1,
h2,
h3 {
  font-family: var(--ff-overpass);
  font-weight: var(--fw-600);
}
